<!--
Hand-crafted quality by
   ______                     __  __     ____  __
  / ____/___ ______________  / /_/ /_   / __ \/ /________  ____
 / / __/ __ `/ ___/ ___/ _ \/ __/ __/  / / / / / ___/ __ \/ __ \
/ /_/ / /_/ / /  / /  /  __/ /_/ /_   / /_/ / (__  ) /_/ / / / /
\____/\__,_/_/  /_/   \___/\__/\__/   \____/_/____/\____/_/ /_/

-->

<header>
  <h1 class="text-center">
    {{#link-to 'questions'}}
      THE BOARD
    {{/link-to}}
  </h1>
  <span class="ember-note">an Ember CLI app</span>
</header>

<div class='container main-content'>
  {{outlet}}
</div>
